<header class="header">
  <div class="header__inner container">
    <div class="logo">
      <img src="images/logo.png" alt="РОДНИК" title="Родник - дечебные воды Чехии">
    </div>
    <button class="js-menu-opener menu-opener" type="button" title="Открыть/закрыть меню"><span></span></button>
    <div class="main-menu">
      <a class="js-smooth-scroll main-menu__link" href="#1">ИДЕИ ДЛЯ ВАШЕГО БИЗНЕСА</a>
      <a class="js-smooth-scroll main-menu__link" href="#2">НАШИ ПРЕИМУЩЕСТВА</a>
      <a class="js-smooth-scroll main-menu__link" href="#3">О КОМПАНИИ</a>
      <a class="js-form-opener main-menu__link main-menu__link--button" href="#">СТАТЬ ПАРТНЁРОМ</a>
    </div>
  </div>
</header>